body {
    background-color: #C0F56E;
}

header {
    /*height: 133px;*/
    background: #60B9CE;
    /*background-image: url('../img/header-background.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 100px 0;*/
}

h1 {

}

h2 {

}

h3 {

}

li {
    margin: 10px 0;
}

/*table {
    border-style: solid;
    border-width: 1px;
    width: inherit;
}*/

td {
    padding: 10px 10px;
}

tr {

}

ul {
    list-style-type: none;
    margin-left: 0px
}

.center-margin {
    margin: 0 auto;
}

.checkbox-column {
    width: 44px;
}

.communtiy {

}

.container {
    margin-top: 20px;
}

.date {
    margin: 0 0 10px 0;
}

.header-title {
    font-size: 2em;
    margin: 20px;
}

.info {

}

.phone-number-column {
    width: 90px;
}

.sms-details {

}

.sms-info {

}

.sms-outgoing {

}

.statistic-label {

}

.statistic-value {

}

.text-body-column {
    width: 160px;
}

#community-data {

}

#date-range {

}

#info-box {

}

#sms-list {

}

#sms-table {

}

#sms-text {
    width: 90%;
}
